<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../static/CSS/welcome.css" />
</head>
<body>
	<!--<div id="headerBar"><a href="/"><img id="headerImg" src="../static/img/small-horizontal-cropped.png"></a> <div id="go-left"><a href="about">About</a> <a href="documentation">Documentation</a></div></div>-->
	<div id="headerBar"><a href="/"><img id="headerImg" src="../static/img/small-horizontal-cropped.png"></a> <div class="right"><a href="/about">About</a> &nbsp; &nbsp; <a href="/documentation">Documentation</a></div></div>
		<p id="welcomeSlogan">About AirTalk</p>
    <p>AirTalk is a web application designed to bring together people waiting at the airport. </p>
    <!--TODO: INSERT VIDEO-->
    <p>Airtalk is a novel new way of connecting with others in the same flight as you!  Before, the long wait for your flight was tedious and boring. Airtalk fixes this by allowing passengers to converse with each other and make possible connections they otherwise would never have made. The site is easy to use and a passenger only needs their flight number and email to start chatting. Passengers used to dread waiting for their flight, now they look forward to it!</p>
    <h1>Meet our Team</h1>

    <img src="http://i58.tinypic.com/2m4c8pu.jpg"> <img src="http://i58.tinypic.com/ixqljp.jpg"> <img src="http://i62.tinypic.com/2namjwy.jpg" <img src="http://i60.tinypic.com/2i9o22d.jpg">
    <!--TODO: PICTURES OF TEAM-->
	
	  </div>
</body>
</html>
