<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../static/CSS/welcome.css" />
</head>
<body>
	<!--<div id="headerBar"><img href="/" src="../static/img/small-horizontal-cropped.png"></div>-->
	<!--<div id="headerBar"><a href="/"><img id="headerImg" src="../static/img/small-horizontal-cropped.png"></a> <div id="go-left"><a href="about">About</a> <a href="documentation">Documentation</a></div></div>-->
	<div id="headerBar"><a href="/"><img id="headerImg" src="../static/img/small-horizontal-cropped.png"></a> <div class="right"><a href="/about">About</a> &nbsp; &nbsp; <a href="/documentation">Documentation</a></div></div>
		<p id="welcomeSlogan">About AirTalk</p>
    <p>AirTalk is a web application designed to bring together people waiting at the airport. </p>
    <!--TODO: INSERT VIDEO-->

    <h1>Meet our Team</h1>
    <!--TODO: PICTURES OF TEAM-->
	
	<div id=submitButtonDiv>
		<a href="login" class="myButton">Login</a>
	</div>
</body>
</html>
