<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../static/CSS/welcome.css" />
</head>
<body>
	<!--<div id="headerBar"><img href="/" src="../static/img/small-horizontal-cropped.png"></div>-->
	<div id="headerBar"><a href="/"><img id="headerImg" src="../static/img/small-horizontal-cropped.png"></a> <a href="about">About</a> <a href="documentation">Documentation</a></div>
		<p id="welcomeSlogan">Your flight is perfect. <br> Now your wait is too.</p>
	
	<div id=submitButtonDiv>
		<a href="login" class="myButton">Login</a>
	</div>
</body>
</html>
