<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../static/CSS/welcome.css" />
</head>
<body>
	<!--<div id="headerBar"><img href="/" src="../static/img/small-horizontal-cropped.png"></div>-->
	<!--<div id="headerBar"><a href="/"><img id="headerImg" src="../static/img/small-horizontal-cropped.png"></a> <a href="about">About</a> <a href="documentation">Documentation</a></div>-->
	<div id="headerBar"><a href="/"><img id="headerImg" src="../static/img/small-horizontal-cropped.png"></a> <div class="right"><a href="/about">About</a> &nbsp; &nbsp; <a href="/documentation">Documentation</a></div></div>
		<p id="welcomeSlogan">Documentation</p>
    <p id="">This is the documentation for our product.</p>
    <a href="https://github.com/AnishN/airtalk2"><h1 id="GithubLink">View on GitHub</h1></a>
    <a href="https://github.com/AnishN/airtalk2">Final GitHub Repository</a><br>
    <a href="https://github.com/amphy/airtalk">Try 2</a><br>
    <a href="https://github.com/amphy/neon"> Try 1</a><br>
	
	<div id=submitButtonDiv>
		<a href="login" class="myButton">Login</a>
	</div>
</body>
</html>
